.sectProdAln{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    margin-bottom: 35rem;

}

.prodDescInfo{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.productDescImg{
    margin: 80px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.productDescImg img{
    width: 600px;
    height: 600px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.quantityBtn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.prodimgInfo{
    display: flex;
    flex-direction: column;
}

.vl-2{
    border-left: 3px solid #FFD369;
    height: 25px;
    padding-left: 8px;
    margin: 0px 20px;
}

.benAln{
    margin-left: 15px;
    margin-right: 35px;
}

.prodNutriCardAln{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.prodNutriCard{
    border: 2px solid #FFD369;
    width: 150px;
    height: 70px;
    border-radius: 5px;
    background-color: #FFD369;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #393E46;
    margin: 0px 20px;
}

.alnProdGuaranteeIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 12px;
}

.alnProdGuaranteeIcon img{
    width: 50px;
    padding-bottom: 10px;
}

.alnProdGuarantee{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2rem;
    font-size: 12px;

}