/* styles.css */

.App {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

.header {
  text-align: center;
  color: #ffc746;
}

.profile {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  color: #ffc746;
}

.profile img {
  max-width: 100px;
  border-radius: 50%;
}

.edit-profile {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.edit-profile input[type="text"],
.edit-profile input[type="file"],
.edit-profile button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.edit-profile button {
  background-color: #4b4b4b;
  color: #ffc746;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile button:hover {
  background-color: #2c2c2c;
}

.edit-profile img {
  max-width: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}
