.cartCard{
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
    background-color: #202020;
    color: #ab987a;
}

.cartCard:hover{
    transform: scale(.9rem);
    background-color: #ab987a;
    color: #fff;
    transition: all 0.3s ease-in-out;
}