.Prodcard {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 240px;
    height: 380px;
    padding: .8em;
    background: #1c1c1c;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }

.ProdCardLink{
  text-decoration: none;
}

.Prodcard:hover {
     transform: scale(.95);
     transition: 0.5s ease-in-out;
}
   
   .Prodcard-img {
    height: 50%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }

   .Prodcard-img img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
   }
   
   .Prodcard-info {
    padding-left: 5%;
    padding-top: 10%;
    height: 140px;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .Prodcard-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    border-top: 1px solid #1c1c1c;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1;
   }
   
   .text-body {
    font-size: .9em;
   }
   
   /*Button*/
   .Prodcard-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   


   .cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: #222831;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #222831;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #393E46;
    padding: 0.4em 1.3em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffc746;
    border: 1px solid #ffc746;
    box-shadow: 6px 6px 12px #1c1c1c,
               -6px -6px 12px #1c1c1c;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #393E46;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffc746;
    border: 1px solid #393E46;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #393E46;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #393E46;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  