body{
    background-color: #252525;
    margin: 0;
}

.sectionTitleBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: .8rem;
}

.pageAlign{
    overflow: hidden;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.popSect{
    background-color: #ffffff;
}

.infoSect{
    padding: 20px;
    background-color: #ffffff;
}

.alignHomeItems{
    padding-left: 60px;
}

.rowCard{
    width: 95%;
}

.seasonalSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem 6rem 2rem;
}


.vl {
  border-left: .6rem solid #ffc746;
  height: 50px;
}

.txtCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1100px;
    background: #d8d6d2;
    padding: 15px;
    margin: 10px;
    gap: 6px;
    color: #dbdbdb;
}

.sectionTitle{
    font-size: 3rem;
    font-weight: 800;
    color: #ffc746;
    padding-left: 1rem;
}

.sectionTitle2{
    font-size: 3rem;
    font-weight: 800;
    color: #ffc746;
}