.trialCard {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 13rem;
    padding: .8em;
    background: var(--bgColor2);
    color: #ffffff  ;
    position: relative;
    overflow: visible;
  }
  
  .trial-info {
    padding-top: 5px;
    height: auto;
  }
  
  .trialTitle{
    font-family: "montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffc746;
  }

  .trialTitleAlign{
    height: 2rem;
    /* border: 1px solid red; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .trialCardImage{
    width: 18rem;
    height: 12rem;
    object-fit: cover;
  }
  
  .trialImage{
    width: 18rem;
    height: 13rem;
    object-fit: cover;
  }
  
  .playIcon{
    color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
  }
  
  #playIcon-home{
    font-size: 2.8rem;
  }
  .trialCard:hover .trialImage{
    text-align: center;
    opacity: .8;
    filter: blur(2px);
    transition: 0.5s ease-in-out;
  }