.alignAboutItems{
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardAlign{
    padding-top: 100px;
}


.abtCard1{
    display: flex;
    flex-direction: column;
    width: 950px;
    border: 2px;
    background: #f1f1f1;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    margin: 10px;
    gap: 6px;
    color: #393E46;
}

.abtCard2 img{
    border-radius: 70px;
    width: 400px;
    box-shadow:-100px -50px 0px #838383;
}

.abtCard3 img{
    border-radius: 70px;
    width: 400px;
    box-shadow:100px -50px 0px #3b3b3b;
}

.abtCard4 img{
    border-radius: 70px;
    width: 400px;
    box-shadow:-100px -50px 0px #838383;
}

.sectSide1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.alnContentRight{
    justify-content: right;
    align-items: right;
    padding-top: 70px;
    padding-left: 300px;
    padding-right: 20px;
}

.alnContentLeft{
    justify-content: left;
    align-items: left;
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 300px;
}