body{
  background-color: rgb(255, 255, 255);
}

.topSec{
  height: 550px;
  margin-bottom:50px;
}
.bottomSec{
  background-color: #FFD369;
  height: 1000px;
  flex-direction: column;
  
}

.BmiCardAlign{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


.alignBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.input__container {
  /* border: 5px solid #000000; */
  max-width: 600px;
  display: flex;
  flex-direction:column;
  gap: 6px;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 20px;
  position: relative;
}

.input__container2 {
  /* border: 5px solid #000000; */
  max-width: 600px;
  display: flex;
  flex-direction:column;
  gap: 6px;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 20px;
  position: relative;
}

.dietPlan__description {
  font-size: 0.8em;
  font-weight:bold;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

  
.input__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(25px);
  border-radius: 20px;
  background-color: #e499ff;
  background-image: radial-gradient(at 47% 69%, hsla(17,62%,65%,1) 0px, transparent 50%),
radial-gradient(at 9% 32%, hsla(222,75%,60%,1) 0px, transparent 50%);
}

.input__container2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(25px);
  border-radius: 20px;
  background-color: #e499ff;
  background-image: radial-gradient(at 47% 69%, hsla(17,62%,65%,1) 0px, transparent 50%),
radial-gradient(at 9% 32%, hsla(222,75%,60%,1) 0px, transparent 50%);
}
  
  .input__label {
    display: block;
    margin-left: 0.4em;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
  }
  
  .input__description {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.678);
  }
  
  .input {
    border: 2px solid #ffffff;
    outline: none;
    width: 100%;
    padding: 0.6em;
    padding-left: 0.9em;
    border-radius: 20px;
    background: #fff;
    transition: background 300ms, color 300ms;
  }
  
  .input:hover,.input:focus {
    background: rgb(255, 255, 255);
    border: 2px solid #FFD369;
    color: #252525;   
  }

.button {
    position: relative;
    align-self: center;
    border-radius: 10em;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
}

.button1:hover {
  background-color: rgb(132, 0, 255);
  color: rgb(255, 255, 255);
}

.bmiInfoCard{
  display: flex;
  flex-direction: column;
  width: 950px;
  border: 2px;
  background: #f1f1f1;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  margin: 10px;
  gap: 6px;
  color: #393E46;
}

.alnNote{
  padding-top: 200px;
}



