.cartPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;

}
.cartPageAlign{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.checkoutCardAln{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 42rem;
}

.hCart{
    margin-top: 2rem;
    text-align: center;
    color:  #393E46;
}

.CartCardAln{
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.CartPageAln{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.CheckoutCardAlnIn{
    width: 75%;
    height: 40%;
}

.CheckoutCardAlnOut{
    margin-top: 4rem;
}

.CouponAln{
    margin-top: 1rem;
    color:  #393E46;
}


.inputCoupon {
    padding-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .CouponTxt {
    min-height: 50px;
    width: 469px;
    padding: 0 1rem;
    color: #393E46;
    font-size: 15px;
    border: 1px solid #FFD369;
    /* border-radius: 6px 0 0 6px; */
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    /* border-radius: 0 6px 6px 0; */
    background-color: #FFD369;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #FFD369;
  }
  
  .CouponTxt:focus, .CouponTxt:focus-visible {
    border-color: #FFD369;
    outline: none;
  }

  .cartPageheader{
    margin-top: 2rem;
    text-align: center;
    color:  #0062ff;
  }

.CartPageContBox{
  gap: 1rem;
  margin-left: 2rem;
  overflow-y: scroll;
  width: 70rem;
  height: 40rem;
  --sb-track-color: #232323;
  --sb-thumb-color: #FFD369;
  --sb-size: .7rem;
}
    
.CartPageContBox::-webkit-scrollbar {
    width: var(--sb-size)
}
    
.CartPageContBox::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}
    
.CartPageContBox::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}
    
@supports not selector(::-webkit-scrollbar) {
.CartPageContBox {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
    }
}

.removeBtn{
    background-color: #FFD369;
    color: Black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.verticalCartDivide{
    border: 1px solid #424242;
    height: 45rem;
}

  