.footerNew{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffc746;
    background-color: #222831;
}

.tline{
    border-top: 1px solid #ffc746; 
    padding: 5px;
    width: 55%;
}